* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "avenir-regular";
    src: url("../fonts/AvenirNextLTPro-Regular.woff2") format("truetype");
}

@font-face{
    font-family: "avenir-bold";
    src: url("../fonts/AvenirNextLTPro-Bold.woff2") format("truetype");
}

@font-face{
    font-family: "avenir-italic";
    src: url("../fonts/AvenirNextLTPro-It.woff2") format("truetype");
}

/* BODY */

body {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: 'CentralNo2';
    background-color: #f1f1f1;
    gap: 0px;
    font-family: 'avenir-regular';
}

/* BARRE DE NAVIGATION ET LOGO */
.nav-conteneur{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 125px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 50;
}

.logo{
    position: relative;
    display: flex;
    height:80px;
    width: 1300px;
    color: #545454;
    align-items: center;
    justify-content: space-between;
}

.logo > img{
    width:165px;
}

.bouton{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 600px;

    gap:20px
}

.bouton > a {
    padding-top: 5px;
    display: flex;
    text-decoration: none;
    color: #545454;
    font-size: 16px;
}

.bouton > a::before {
    position: absolute;
    top:13px;
    right:320px;
    content: url("/img/imgi_53_Mobile menu - Phone Icon 24px_0.svg");
}

#button1{
    background-color: #71c146;
    border: none;
    border-radius: 25px;
    padding: 15px 15px;
    font-size: 14px;  
    font-weight: bold;
}

#button1>a{
    text-decoration: none;
    color: white;
    font-size: 14px;  
    font-weight: bold;
}

.menu1{
    display: flex;
    height: 45px;
    width: 1300px;
    font-size: 14px;
    color: #545454;
    font-family: 'avenir-bold';
}


.menu1 > ul{
position: relative;
    list-style: none;
    display: flex;
    height: 100%;
    width: 1300px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #545454;    
    gap:50px;
        font-family: 'avenir-bold';
}

.menu1 ul>li>a{
    height: 45px;
    text-decoration: none;
    font-size: 14px;
    color: #545454;    
    font-weight: bold;
    font-family: 'avenir-bold';
}

.menu1 ul>li>a:hover{
  border-bottom: solid 4px #545454;
  padding-bottom: 10px;
}

.menu1 > ul>:first-child::after {
    display: inline-block;
    position: absolute;
    top:10px;
    content: url("/img/imgi_60_chevron-down.svg");
}


.menu1 > ul>:nth-child(2)::after {
    display: inline-block;
    position: absolute;
    top:10px;
    content: url("/img/imgi_60_chevron-down.svg");
}



/*HEADER*/

header{
    margin-top: 125px;
    position: relative;
    display: flex;
    height: 380px;
    width: 100%;
    z-index:5;
    justify-content: center;
}

header>.overflow1{
    overflow: hidden;
    display: flex;
    position: relative;
    width: 1440px;
    height: 380px;
}

.overflow1>img{
    display:flex;
    position: absolute;
    top:0px;
    left:0px;
    height:380px;
    transform: translate(0px,0px);

} 

.slogan{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:30px;
    left:220px;
    width: 510px;
    height: 335px;
    border-radius: 10px;
    gap:10px;

}

.slogan-p1{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;

}


.slogan h2{
    font-size: 32px;
    font-weight: bold;
    font-family: 'avenir-bold';

}


.logo2{
    display: flex;
    gap:5px;
}

.yellow{
    width:45px;
    height: 6px;
    background-color:#ffdc00;
    
}

.orange{
    width:45px;
    height: 6px;
    background-color:#e60f04;

}

.input-rdv{
    justify-content: space-between;
    align-items: end;

    height:80px;
    display: flex;
}

#input1{
    text-indent: 10px;
    border-style: none;
    border-bottom: #8e8b89 solid 3px;
    width: 270px;
    height: 50px;

}

#input1:active{
        border-bottom: #71c146 solid 3px;

}


#input1:select{
    background-color: #e60f04;
}


/* #input1 input:focus, .ton-form textarea:focus, .ton-form select:focus {
    background : #ff123f;
}


.input1 select:focus {
    background-color : #ff123f;
} */









#button2{
    background-color: #71c146;
height:50px;
    border: none;
    border-radius: 25px;

    padding: 15px 15px;
    font-size: 14px;  
    font-weight: bold;
}


#button2>a{
    text-decoration: none;
    color: white;
    font-size: 14px;  
    font-weight: bold;
}

.slogan-p2{
    display: flex;
    align-content: end;
    align-items: center;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    width: 470px;
    height: 105px;
}

.information{
    width: 245px;
}

.information>h3{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
        font-family: 'avenir-bold';
}

.information>p{

    font-size: 10px;
    color: #8e8b89;

}


.slogan-p2>p{
    position: relative;
    align-content: center;
    justify-content: center;
    color: black;
    text-align: center;
    width: 250px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'avenir-bold';
}

.slogan-p2>p:before{
    display: inline-block;
position: absolute;
left:15px;
content: url("/img/téléchargement (3).svg");
}  

.avantages1{
    display: flex;

    width: 100%;
    justify-content: center;
}
.avantages{
    display: flex;
    width: 800px;
    height: 110px;
    display: flex;
    gap:20px;
    
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 25px;
    flex:1;
    text-decoration: none;
    color: black;

}

.box>img{
    position:absolute;
    top:20px;
    left: -70px;
    width: 60px;
    height: 60px;
}

.avantages h3{
    width: 200px;
    display: flex;
    font-weight: bold;
        font-family: 'avenir-bold';
        color: #000000;
      font-size: 16px;
}

.avantages p{
    display: flex;
    color: #333333;
    font-size: 14px;
}


/*SECTION 2 PUBLICITE*/

.publicite{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    height: 360px;
    gap:45px;
}

.pub1{
    width: 810px;
    height: 360px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pub1>p{
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 12px;
    color: #333333;
    height: 20px;
}

.overflow2{
    overflow: hidden;
    display: flex;
    position: relative;
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.overflow2>img{
    display:flex;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    transform: translate(0px,0px);
}

.pub2{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.pub2>img{
    padding: 20px;
    width: 60px;
}

.pub2>h3{
    padding-left: 20px;
    font-size: 20px;
        font-family: 'avenir-bold';
    font-weight: bold;
    color: #000000;
}

.pub2>p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: #333333;
}

#button3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    border: solid 1px #333333;
    width: 130px;
    border-radius: 25px;
    padding: 15px 15px;
}

#button3>a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;  
    font-weight: bold;
}

/*SECTION 3 ENGAGEMENTS*/

.section-engagement{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-engagement>h2{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'avenir-bold';
    margin-bottom: 10px;
}

.engagement{
    display: flex;
    margin-left:120px;
    margin-top: 50px;
    margin-right: 120px;
    width: 1300px;
    height: 520px;
    gap: 25px;
}

.box1{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    height: 520px;
    text-align: center;
    gap:35px;
    font-size: 16px;
    color: #333333;
    
}

.box1>h2{
    font-size: 22px;
    font-weight: bold;
    font-family: 'avenir-bold';
}


.box1>img{
    width: 100%;
}


#button4{
    position: absolute;
    bottom: 0px;
    left: 140px;
    background-color: white;
    border: solid 1px #333333;
    width: 130px;
    border-radius: 25px;
    padding: 15px 15px;
}

#button4>a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;  

}


/*SECTION 4 AVIS*/
.section-avis{
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-avis>p{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'avenir-bold';
}
section>h2{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'avenir-bold';
}

.avis{
    display: flex;
    gap: 45px;
    width: 1250px;
}

.box2{
    position: relative;
    display: flex;
    flex: 1;
}





.rond{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 175px;
    border: #FFDC00 10px solid;
    border-radius: 50%;
    z-index: 100;
}

.blanc{
    position: absolute;
    top:-20px;
    left: 60px;
    width: 30px;
    height: 30px;
    background-color: #F1F1F1;
    border-radius: 50%;
}





.rond>img{
    position: absolute;
    bottom: 10px;
    width: 100px;
}

.etoiles{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:80px;
    width: 150px;

    justify-content: space-around;
 
}
.rond>p{
    padding-top: 15px;
font-size: 48px;
    font-family: 'avenir-bold';




}


.box3{
    display: flex;
    flex-direction: column;
    height: 230px;
    position: relative;
    flex: 1;
    margin-top: 45px;
    gap:10px;
}

.box3>h4{
    font-size: 14px;
    font-family: 'avenir-bold';
}

.autre{
    font-size: 14px;
    color: #333333;
}

.italic{
    font-size: 16px;
    color: #333333;
    font-family: 'avenir-italic';
}



#button5{
    position: absolute;
    bottom: 25px;
    left: 46%;
    background-color: white;
    border: solid 1px #333333;
    width: 150px;
    border-radius: 25px;
    padding: 15px 15px;
}

#button5>a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;  
    font-weight: bold;
}

.section-avis>a{
    position: relative;
    margin-top: 60px;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.section-avis>a:after{
    position: absolute;
    top:-5px;
    display: inline-block;
    content: url("/img/imgi_56_info.svg");
}


/*SECTION 5 CENTRE */

.section-information{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    align-items: center;
    margin-top: 120px;
}

.conteneur-overflow3{
    display: flex;
    width: 1300px;
    height: 190px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.overflow3{
    display: flex;
    overflow: hidden;
    flex:1;
}

.overflow3>img{
    display: flex;
    width: 100%;
}

.information-centres{
    position: relative;
    display: flex;
    flex-direction: column;
    flex:1;
}

.section-information>h2{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
  font-family: 'avenir-bold';


}


.information-centres>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    font-family: 'avenir-bold';
}

.information-centres>p{
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    color: #333333;
}



#button6{
    position: absolute;
    bottom: 20px;
    left: 25px;
    background-color: white;
    border: solid 1px #333333;

    border-radius: 25px;
    padding: 15px 15px;
}

#button6>a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;  
    font-weight: bold;
}



/*SECTION 6 CONDITIONS */

.section-conditions{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 570px;
    margin-top: 40px ;
    align-items: center;
}


.conditions{
    width: 1300px;
    margin-bottom: 110px;
}

.conditions>p{
    font-size: 12px;
    color: #333333;
}


/*FOOTER1 NAVIGATION*/

.footer-nav{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 690px;
    background-color: #333333;
}

.logo-nav{
    display: flex;
    width:1300px;
    margin-top: 25px;
}

.logo-nav>img{
    width: 200px;
    padding-right: 135px;
}


.logo-nav>p{
    font-size: 14px;
    color: white;
}

.nav-lien{
    display: flex;
     width:1300px;
     height:370px;
     gap:25px;
    margin-top: 60px;
}
   
.nav-lien>ul{
    list-style: none;
    flex-direction: column;
    flex:1;
    color: white;
    font-size: 14px;

}
.nav-lien>ul>li>a{
    text-decoration: none;
    align-items: start;
    color: white;
}

.nav-lien>ul>li{
    padding: 10px;
}

.nav-lien > ul>:first-child {
    font-weight: bold;
    font-family: 'avenir-bold';
    font-size: 20px;
    padding-bottom: 15px;
}

.li-gras>li:nth-child(5) {
    font-weight: bold;
    font-family: 'avenir-bold';
    font-size: 20px;
    padding-bottom: 15px;
}

.footer-nav>a{
position: absolute;
right:350px;
top: 350px;
fill: white;
}


/*FOOTER2*/
.footer-droit{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
    background-color: #555555;
    align-items: center;
    color: white;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
     width:1300px;
     height:370px;
     gap:25px;
}

.droits>ul{
    display: flex;
    list-style: none;
    flex:1;
    color: white;
    font-size: 16px;
    gap:15px;
}
.droits>ul>li>a{
    text-decoration: none;
    align-items: start;
    color: white;
}

.bold{
    font-family: 'avenir-bold';
    font-size: 16px;
}